@import './config.scss';

.aboutmain
{
    background-image:linear-gradient(to right ,rgba(0, 0, 0, 0.75)30%,rgba(0, 0, 0, 0.75)100%), url('../src/img/menuback.jpg');
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    height: auto;
    padding: 0% 10% 10% 10%;
}
.aboutrow
{
    height: auto;
}
.myimg
{
    width:40vh;
    height: 40vh;
    border-radius: 50%;
    margin-top: 0%;
    
}
.aboutname
{
    margin-top: 8%;
    color: $blue;
    font-size: 45px;
    font-weight: 600;
}
.aboutcol1
{
text-align: right;
margin-bottom: 5%;
}
.aboutcol2
{
text-align: center;
margin-bottom: 5%;
}
.aboutcol3
{
text-align: left;
margin-bottom: 5%;
}
.aboutcont
{
    margin-top: 40px;
    color: white;
}
.aboutrow1
{
 padding-top: 100px;
}
.crd1
{
    width: 60%;
    background-color: rgb(43, 43, 43);
    border-bottom: 7px solid $blue;
    padding: 10px;
    margin-top: 5%;
   border-radius: 20px;
}
.crdtopic
{
    color: $blue;
    font-size: 25px;
    font-weight: 600;
}
@media screen and (max-width: 992px)
{
.crd1
{
    width: 80%;
    background-color: rgb(43, 43, 43);
    border-bottom: 7px solid $blue;
    padding: 10px;
    margin-top: 5%;
}
}

@media screen and (max-width: 500px)
{
}