.aboutmain {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../img/menuback.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%), url("../img/menuback.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  padding: 5% 0% 12% 0%;
}

.myimg {
  width: 280px;
  border-radius: 50%;
  margin-top: 0%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.myimg:hover {
  width: 280px;
  border-radius: 50%;
  margin-top: 0%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutname {
  margin-top: 8%;
  color: rgba(0, 153, 255, 0.767);
  font-size: 45px;
  font-weight: 600;
}

.aboutcol1 {
  text-align: right;
  margin-bottom: 5%;
}

.aboutcol2 {
  text-align: center;
  margin-bottom: 5%;
}

.aboutcol3 {
  text-align: left;
  margin-bottom: 5%;
}

.aboutcont {
  margin-top: 40px;
  color: white;
}

.aboutrow1 {
  padding-top: 100px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aboutrow2 {
  padding-bottom: 5%;
  background: linear-gradient(-45deg, #000000, #001b39, #000000, #000000);
  background-size: 500% 100%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

.crd1 {
  width: 100%;
  background-color: black;
  border-bottom: 7px solid rgba(0, 153, 255, 0.767);
  padding: 50px;
  border-radius: 20px;
  margin-top: -100px;
  margin-bottom: 100px;
}

.crdtopic {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.About_main_topic {
  color: white;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  border-radius: -20px;
  padding-top: 8%;
  padding-bottom: 5%;
}

.wid_crd1 {
  width: 80%;
  border: solid rgba(0, 153, 255, 0.767) 4px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  text-align: center;
  padding: 10% 5% 5% 5%;
  margin: 15% 0%;
}

.wid_crd2 {
  width: 80%;
  border: solid rgba(0, 0, 0, 0) 4px;
  background-color: rgba(0, 153, 255, 0.767);
  border-radius: 20px;
  text-align: center;
  padding: 10% 5% 5% 5%;
  margin: 15% 0%;
}

.wid_crd1:hover {
  width: 80%;
  border: solid rgba(0, 0, 0, 0) 4px;
  background-color: rgba(0, 153, 255, 0.767);
  border-radius: 20px;
  text-align: center;
  padding: 10% 5% 5% 5%;
  margin: 15% 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wid_crd2:hover {
  width: 80%;
  border: solid rgba(0, 153, 255, 0.767) 4px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  text-align: center;
  padding: 10% 5% 5% 5%;
  margin: 15% 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.About_img_row {
  margin: 10% 0% 5% 0% !important;
  padding: 5% 15%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.About_otherskill_row {
  margin: 2% 0%;
  text-align: center;
}

.about_shaped_div_ph {
  width: 50%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: gray;
  background-image: url("../img/ph.jpeg");
  background-size: cover;
  background-position: center;
}

.about_shaped_div_pr {
  width: 50%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  background-color: gray;
  background-image: url("../img/dr.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 992px) {
  .aboutmain {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url("../img/menuback.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%), url("../img/menuback.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0% 0% 10% 0%;
    background-attachment: scroll;
  }
  .crd1 {
    width: 80%;
    background-color: #2b2b2b;
    border-bottom: 7px solid rgba(0, 153, 255, 0.767);
    padding: 20px;
    margin-top: 15%;
  }
  .About_img_row {
    margin: 15% 0% !important;
    padding: 5% 0%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .About_otherskill_row {
    margin: 10% 0%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .myimg {
    width: 200px;
    border-radius: 50%;
    margin-top: 0%;
  }
  .About_img_row {
    margin: 15% 0% !important;
    padding: 10% 0%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .About_otherskill_row {
    margin: 15% 0%;
    text-align: center;
  }
}
/*# sourceMappingURL=about.css.map */