.aboutmain {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%), url("../img/menuback.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  padding: 5% 0% 12% 0%;
}

.aboutrow {
  height: auto;
}

.myimg {
  width: 280px;
  border-radius: 50%;
  margin-top: 0%;
  filter: grayscale(0%);
  transition: 0.5s;
}

.myimg:hover {
  width: 280px;
  border-radius: 50%;
  margin-top: 0%;
  filter: grayscale(100%);
  transition: 0.5s;
}

.aboutname {
  margin-top: 8%;
  color: rgba(0, 153, 255, 0.767);
  font-size: 45px;
  font-weight: 600;
}

.aboutcol1 {
  text-align: right;
  margin-bottom: 5%;
}

.aboutcol2 {
  text-align: center;
  margin-bottom: 5%;
}

.aboutcol3 {
  text-align: left;
  margin-bottom: 5%;
}

.aboutcont {
  margin-top: 40px;
  color: white;
}

.aboutrow1 {
  padding-top: 100px;
}

.aboutrow2 {
  padding-top: 50px;
  background-color: black;
}

.crd1 {
  width: 100%;
  background-color: #1b1b1b;
  border-bottom: 7px solid rgba(0, 153, 255, 0.767);
  padding: 10px;
  margin-top: 5%;
  border-radius: 20px;
}

.crdtopic {
  color: rgba(0, 153, 255, 0.767);
  font-size: 25px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .aboutmain {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.75) 100%), url("../img/menuback.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0% 0% 10% 0%;
    background-attachment: scroll;
  }

  .crd1 {
    width: 80%;
    background-color: #2b2b2b;
    border-bottom: 7px solid rgba(0, 153, 255, 0.767);
    padding: 10px;
    margin-top: 5%;
  }
}
@media screen and (max-width: 500px) {
  .myimg {
    width: 200px;
    border-radius: 50%;
    margin-top: 0%;
  }
}