@import './config.scss';

.thumbs-wrapper{
    display: none !important;
}
.carousel .control-next.control-arrow::before {
    border-left: 12px solid #fff !important;
    height: 17px !important;
  }
  .carousel .control-prev.control-arrow::before {
    border-right: 12px solid #fff !important;
    height: 17px !important;
  }



.feedback_crd{
    margin: 70px;
    padding: 5%;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    border-bottom: 7px solid $blue;
}
.user_mail{
    font-size: smaller;
    color: white;
    padding-top: 15px;
}

@media screen and (max-width: 500px)
{

    .feedback_crd{
        margin: 50px 30px;
        padding: 5%;
        background-color: rgb(20, 20, 20);
        border-radius: 20px;
        border-bottom: 7px solid $blue;
    }

    .carousel .control-next.control-arrow::before {
        border-left: 8px solid #fff !important;
      }
      .carousel .control-prev.control-arrow::before {
        border-right: 0px solid #fff !important;
      }

}