@import './config.scss';

.main
{
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.60) 30%,rgba(0, 0, 0, 0.60) 100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 16% 8% 16% 8%;
    position: relative;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
}

.home
{
    width: 100%;
    text-align: center ;
    padding: 1% 0%;
}
.name
{
    font-size: 80px;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.lname
{
    font-weight: 100;
    color:rgb(255, 255, 255);
}
.skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 50px;
    display: inline-block;
    text-align: left;
}
.hr1{
    
    background-color: rgb(255, 255, 255);
    height: 5px;
    border-radius: 20px;
    width: 70%;
    margin-left: 15%;
    
}
.info
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}
.iam
{
    color: white;
    font-size: 45px;
    font-weight: 400;
}

@keyframes ShineAnimation02{ 
    from { 
      background-repeat:no-repeat; 
      background-image:-webkit-linear-gradient( top left, 
                      rgba(82, 82, 82, 0) 0%, 
                      rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.418) 48%, 
                      rgba(255, 255, 255, 0.300) 50%, rgba(255, 255, 255, 0.150) 52%, 
                      rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100% ); 
      background-position:-350px -450px; background-size: 700px 400px } 
    to { 
      background-repeat:no-repeat; 
      background-position:100px 200px;
    } 
  }

.cv
{
    color: white;
    background-color: $blue;
    border: 0px solid rgb(0, 134, 223) ;
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: 0.3s;
    margin-top: 25px;
    animation-name: ShineAnimation02; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: cubic-bezier(.12,.89,.98,.47); 
    animation-delay: 0s;

    &:hover{
    color: black;
    background-color:rgba(255, 255, 255, 0.836);
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-weight: 500;
    border: solid $blue 0px;
    box-shadow: 0px 0px 20px $blue;
    transition: 0.3s;
        
    }
}

.bracket1{
    color: white;
    font-size: 300px;
    text-align: center;
    margin-left: 30%;
    opacity: 0.2;
    font-weight: 400;
    
}

.bracket2{
    color: rgb(255, 255, 255);
    font-size: 300px;
    text-align: center;
    margin-right: 40%;
    margin-left: -50px;
    opacity: 0.2;
    font-weight: 400;
    
}


.main2{
    background-color: black;
    height: auto;
    padding: 5% 0%;
}

.logoimg{
    width: 100%;
    opacity: 0.5;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.733);
    border-radius: 20px;
}





@keyframes ShineAnimation{ 
    from { 
      background-repeat:no-repeat; 
      background-image:-webkit-linear-gradient( top left, 
                      rgba(82, 82, 82, 0) 0%, 
                      rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.150) 48%, 
                      rgba(255, 255, 255, 0.300) 50%, rgba(255, 255, 255, 0.150) 52%, 
                      rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100% ); 
      background-position:-250px -250px; background-size: 600px 600px } 
    to { 
      background-repeat:no-repeat; 
      background-position:50px 200px;
    } 
  }
.shine{
    width:200px;
    height: 200px; /*Make sure the animation is over the whole element*/
    border-radius: 20px;
    animation-name: ShineAnimation; 
    animation-duration: 5s; 
    animation-iteration-count: infinite; 
    animation-timing-function: cubic-bezier(.12,.89,.98,.47); 
    animation-delay: 0s;
    border: solid $blue 1px;
    box-shadow: 0px 0px 20px $blue;
}

.main2_cont01{
    padding-top: 1%;
    display: block;
}



.Home_Quality_Div{

    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: solid $blue 1px;
    box-shadow: 0px 0px 25px $blue;
    animation-name: ShineAnimation02; 
    animation-duration: 5s; 
    animation-iteration-count: infinite; 
    animation-timing-function: cubic-bezier(.12,.89,.98,.47); 
    animation-delay: 5s;
}

.Home_Quality_Text{
    color: white;
    font-size: 25px;
    padding: 7% 0%;
}

.Home_slog_One{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin: 6% 0% 4% 0%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5% 0%;
    letter-spacing: 10px;
    border-radius: -20px;
}

.Home_service_col{
    padding: 8% 0%;
}
.shaped_div_fs{
 width: 50%;
 transform: skew(-20deg);
 background-color: gray;
 background-image: url("../img/fs.jpg");
 background-size: cover;
 background-position: center;
}
.shaped_div_uiux{
    width: 50%;
    transform: skew(-20deg);
    background-color: gray;
    background-image: url("../img/ui.jpg");
    background-size: cover;
    background-position: center;
   }

.shaped_div_gd{
    width: 50%;
    transform: skew(-20deg);
    background-color: gray;
    background-image: url("../img/gd.png");
    background-size: cover;
    background-position: left;
   }

.shaped_div_two{
    width: 10%;
    height: 300px;
    transform: skew(-20deg);
    background-color: gray;
    margin-left: 30px;
   }

.sub_topic{

    color: white;
    font-weight: bold;

}

.cont{
    color: white;
    padding: 5% 0%;
}

.service_btn{
    background-color: $blue;
    border-radius: 50px;
    color: white;
    text-align: center;
    width: 150px;
    padding: 1% 2%;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;

}

.service_btn:hover{
    background-color: white;
    border-radius: 50px;
    color: black;
    text-align: center;
    width: 150px;
    padding: 1% 2%;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;

}
.main2_cont01_mobile{
    display: none;
    padding: 10% 0%;
}

.sub_topic_mob{
    text-align: center;
    color: white;
    font-weight: bold;

}

.cont_mob{
    text-align: center;
    color: white;
    padding: 5% 0%;
}

@media screen and (max-width : 1158px){
    .skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}
}

@media screen and (max-width : 992px){
.skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}
.bracket1{
    color: white;
    font-size: 300px;
    text-align: center;
    margin-left: 30%;
    opacity: 0.2;
    font-weight: 400;
    display: none;
    
}

.bracket2{
    color: rgb(255, 255, 255);
    font-size: 300px;
    text-align: center;
    margin-right: 40%;
    margin-left: -50px;
    opacity: 0.2;
    font-weight: 400;
    display: none;
    
}
.Home_Quality_Text{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 7% 0%;
}
.main2_cont01{
    padding-top: 1%;
    display: none;
}

.main2_cont01_mobile{
    display: block;
}
}


@media screen and (max-width : 900px){
    .home
    {
        width: 100%;
        text-align: center ;
        padding: 2% 0%;
    }
}

@media screen and (max-width : 768px){
    .home
    {
        width: 100%;
        text-align: center ;
        padding: 2% 0%;
    }
    .main
    {
        background: linear-gradient(to right ,rgba(0, 0, 0, 0.60) 30%,rgba(0, 0, 0, 0.60) 100%), url('../img/my3.jpg') center top;
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 20% 10% 10% 10%;
        position: relative;
        background-attachment:scroll;
        top: 0;
        bottom: 0;
    }
    .main2_cont01{
        padding-top: 5%;
    }
    .Home_Quality_Text{
        color: white;
        font-size: 18px;
        font-weight: 400;
        padding: 7% 0%;
    }
}


@media screen and (max-width : 712px){

 .main
{
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.60) 30%,rgba(0, 0, 0, 0.60) 100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20% 10% 10% 10%;
    position: relative;
    background-attachment:scroll;
    top: 0;
    bottom: 0;
}
.name
{
    font-size: 50px;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.lname
{
    font-weight: 100;
    color:rgb(255, 255, 255);
}
.skill
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}

.iam
{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.Home_service_col{
    padding: 10% 0%;
}
}

@media screen and (max-width: 600px)
{

.main
{
  
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.74) 30%,rgba(0, 0, 0, 0.651) 100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    background-attachment:scroll;
    position:relative;
    height: auto;
    padding: 35% 10% 10% 10%;
    
}
.Home_slog_One{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin: 5% 0%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5% 0%;
    letter-spacing: 10px;
    border-radius: -20px;
}
.sub_topic_mob{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0% 5%;

}

.cont_mob{
    text-align: center;
    color: white;
    padding: 5% 5% ;
    
}

}


@media screen and (max-width: 400px)
{
.name
{
    font-size: 40px;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.main
{
  
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.74) 30%,rgba(0, 0, 0, 0.651) 100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    background-attachment:scroll;
    position:relative;
    height: auto;
    padding: 30% 10% 10% 10%;
    
}
.home
{
    width: 100%;
    text-align: center ;
    padding: 5% 10% 5% 10%;
}

.logoimg{
    width: 100%;
    opacity: 0.5;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    border-radius: 20px;
}

.shaped_div_two{
    width: 10%;
    height: 200px;
    transform: skew(-20deg);
    background-color: gray;
    margin-left: 30px;
   }

   .Home_service_col{
    padding: 15% 0%;
}

@keyframes ShineAnimation{ 
    from { 
      background-repeat:no-repeat; 
      background-image:-webkit-linear-gradient( top left, 
                      rgba(82, 82, 82, 0) 0%, 
                      rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.150) 48%, 
                      rgba(255, 255, 255, 0.300) 50%, rgba(255, 255, 255, 0.150) 52%, 
                      rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100% ); 
      background-position:-250px -250px; background-size: 600px 600px } 
    to { 
      background-repeat:no-repeat; 
      background-position:50px 150px;
    } 
  }
.shine{
    width:150px; /*Make sure the animation is over the whole element*/
    border-radius: 20px;
    animation-name: ShineAnimation; 
    animation-duration: 8s; 
    animation-iteration-count: infinite; 
    animation-timing-function: cubic-bezier(.12,.89,.98,.47); 
}
}