@import './config.scss';

.main
{
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.60)30%,rgba(0, 0, 0, 0.60)100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 5% 10% 15% 10%;
    position: relative;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
}
.home
{
    width: 100%;
    text-align: center ;
    padding: 1% 0%;
}
.name
{
    font-size: 80px;
    font-family: Ubuntu;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.lname
{
    font-weight: 100;
    color:rgb(255, 255, 255);
}
.skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 50px;
    display: inline-block;
    text-align: left;
}
.hr1{
    
    background-color: rgb(255, 255, 255);
    height: 5px;
    border-radius: 20px;
    width: 70%;
    margin-left: 15%;
    
}
.info
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}
.iam
{
    color: white;
    font-size: 45px;
    font-weight: 400;
}
.cv
{
    color: white;
    background-color: $blue;
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: 0.3s;
    margin-top: 40px;

    &:hover{
    color: black;
    background-color:rgba(255, 255, 255, 0.836);
    width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.719);
    transition: 0.3s;
        
    }
}

.bracket1{
    color: white;
    font-size: 300px;
    text-align: center;
    margin-left: 30%;
    opacity: 0.2;
    font-weight: 400;
    
}

.bracket2{
    color: rgb(255, 255, 255);
    font-size: 300px;
    text-align: center;
    margin-right: 40%;
    margin-left: -50px;
    opacity: 0.2;
    font-weight: 400;
    
}


.main2{
    background-color: black;
    height: 100px;
}

.logoimg{
    width: 300px;
    opacity: 0.7;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.733);
    border-radius: 20px;
}

@media screen and (max-width : 1158px){
    .skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}
}

@media screen and (max-width : 992px){
    .skill
{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}
.bracket1{
    color: white;
    font-size: 300px;
    text-align: center;
    margin-left: 30%;
    opacity: 0.2;
    font-weight: 400;
    display: none;
    
}

.bracket2{
    color: rgb(255, 255, 255);
    font-size: 300px;
    text-align: center;
    margin-right: 40%;
    margin-left: -50px;
    opacity: 0.2;
    font-weight: 400;
    display: none;
    
}




}


@media screen and (max-width : 900px){
    .home
    {
        width: 100%;
        text-align: center ;
        padding: 2% 0%;
    }
}

@media screen and (max-width : 768px){
    .home
    {
        width: 100%;
        text-align: center ;
        padding: 2% 0%;
    }
    .main
    {
        background: linear-gradient(to right ,rgba(0, 0, 0, 0.60)30%,rgba(0, 0, 0, 0.60)100%), url('../img/my3.jpg') center top;
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 10% 10% 15% 10%;
        position: relative;
        top: 0;
        bottom: 0;
    }
}


@media screen and (max-width : 712px){

 .main
{
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.60)30%,rgba(0, 0, 0, 0.60)100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10% 10% 15% 10%;
    position: relative;
    top: 0;
    bottom: 0;
}
.name
{
    font-size: 50px;
    font-family: Ubuntu;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.lname
{
    font-weight: 100;
    color:rgb(255, 255, 255);
}
.skill
{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
}

.iam
{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
}

@media screen and (max-width: 400px)
{
.name
{
    font-size: 40px;
    font-family:ubuntu !important;
    font-weight: 700;
    color: $blue;
    border-radius: 20px;
    display: inline-block;

}
.main
{
  
    background: linear-gradient(to right ,rgba(0, 0, 0, 0.74)30%,rgba(0, 0, 0, 0.651)100%), url('../img/my3.jpg') center top;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    position:relative;
    height: auto;
    padding: 20% 10% 15% 10%;
    
}
.home
{
    width: 100%;
    text-align: center ;
    padding: 5% 10% 20% 10%;
}

.logoimg{
    width: 200px;
    opacity: 0.7;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    border-radius: 20px;
}
}