@import './config.scss';

.aboutmain
{
    background-image:linear-gradient(to right ,rgba(0, 0, 0, 0.75)30%,rgba(0, 0, 0, 0.75)100%), url('../src/img/menuback.jpg');
    background-size: cover;
    // position: absolute;
    // top: 0%;
    // bottom: 0%;
    width: 100%;
    background-attachment: fixed;
    height: auto;
}
.aboutrow
{
    height: auto;
}
.myimg
{
    width:40vh;
    height: 40vh;
    border-radius: 50%;
    margin-top: 40%;
    
}
.aboutname
{
    margin-top: 50%;
    color: $blue;
    font-size: 45px;
    font-weight: 600;
}
.aboutcol1
{
font-family: ubuntu;
text-align: right;


}
.aboutcol2
{
text-align: center;
}
.aboutcol3
{
text-align: left;
}
.aboutcont
{
    margin-top: 40px;
    color: white;
}